Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: python, rust

python:
  name: Check all Python code
  entry: mask development python all
  pass_filenames: false
  language: system
  fail_fast: true

rust:
  name: Check all Rust code
  entry: mask development rust all
  pass_filenames: false
  language: system
  fail_fast: true

Cleanup Claude Code agent prompts and general tooling
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  CLAUDE.md
  README.md
  maskfile.md
Due: none

Unify Python project dependencies
  applications/datamanager/.claude/settings.local.json
  applications/datamanager/pyproject.toml
  applications/equitypricemodel/pyproject.toml
  applications/portfoliomanager/pyproject.toml
  applications/stack.yml
  libraries/python/pyproject.toml
  pyproject.toml
  tools/pyproject.toml
  uv.lock
Due: none

Update equity bar filtering logic
  applications/equitypricemodel/src/equitypricemodel/preprocess.py
  applications/equitypricemodel/src/equitypricemodel/server.py
Due: python

Add "sync" option to Mask "invoke" command
  .gitignore
  Cargo.lock
  applications/datamanager/src/equity_bars.rs
  applications/datamanager/src/predictions.rs
  applications/equitypricemodel/pyproject.toml
  infrastructure/__main__.py
  maskfile.md
  pyproject.toml
  tools/pyproject.toml
  tools/sync_equity_bars_data.py
  uv.lock
Due: python, rust

Rename data syncing GitHub workflow
  .github/workflows/sync_data.yaml
Due: none

Fix failing Python unit tests
  applications/equitypricemodel/src/equitypricemodel/predictions_schema.py
  applications/equitypricemodel/src/equitypricemodel/tide_model.py
  applications/equitypricemodel/tests/test_preprocess.py
  applications/portfoliomanager/tests/test_risk_management.py
Due: python

Add CodeRabbit pull request feedback
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/run_python_code_checks.yaml
  .github/workflows/run_rust_code_checks.yaml
  Cargo.lock
  applications/datamanager/Dockerfile
  applications/datamanager/src/storage.rs
  applications/equitypricemodel/Dockerfile
  applications/equitypricemodel/src/equitypricemodel/combine_data.py
  applications/equitypricemodel/src/equitypricemodel/server.py
  applications/equitypricemodel/src/equitypricemodel/tide_data.py
  applications/equitypricemodel/src/equitypricemodel/tide_model.py
  applications/equitypricemodel/tests/test_categories_schema.py
  applications/portfoliomanager/src/portfoliomanager/alpaca_client.py
  applications/portfoliomanager/src/portfoliomanager/portfolio_schema.py
  applications/portfoliomanager/src/portfoliomanager/server.py
  infrastructure/__main__.py
  tools/run_training_job.py
  tools/sync_equity_bars_data.py
Due: python, rust

Fix breaking GitHub code checks
  .github/workflows/run_python_code_checks.yaml
  .github/workflows/run_rust_code_checks.yaml
Due: none

Add Copilot and CodeRabbit pull request feedback
  applications/equitypricemodel/src/equitypricemodel/combine_data.py
  applications/equitypricemodel/src/equitypricemodel/tide_model.py
  applications/portfoliomanager/src/portfoliomanager/server.py
  infrastructure/__main__.py
  maskfile.md
  pyproject.toml
  tools/download_model_artifacts.py
  tools/run_training_job.py
  tools/sync_equity_bars_data.py
  uv.lock
Due: python

Add Copilot and CodeRabbit pull request feedback and refactor secrets management
  .claude/commands/ci.md
  .claude/commands/fix-pull-request-feedback.md
  .claude/commands/infrastructure.md
  .claude/commands/lint.md
  .claude/settings.local.json
  .flox/env/manifest.lock
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/run_python_code_checks.yaml
  .github/workflows/run_rust_code_checks.yaml
  CLAUDE.md
  applications/equitypricemodel/src/equitypricemodel/combine_data.py
  applications/equitypricemodel/src/equitypricemodel/predictions_schema.py
  applications/equitypricemodel/src/equitypricemodel/tide_data.py
  applications/equitypricemodel/src/equitypricemodel/tide_model.py
  applications/portfoliomanager/src/portfoliomanager/alpaca_client.py
  applications/portfoliomanager/src/portfoliomanager/server.py
  infrastructure/__main__.py
  maskfile.md
  pyproject.toml
  tools/download_model_artifacts.py
  tools/run_training_job.py
  tools/sync_equity_bars_data.py
Due: python

Add CodeRabbit pull request feedback
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/run_python_code_checks.yaml
  applications/equitypricemodel/src/equitypricemodel/tide_data.py
  infrastructure/__main__.py
  maskfile.md
  tools/run_training_job.py
Due: python

Add Copilot and CodeRabbit pull request feedback
  .github/workflows/create_or_update_portfolio.yaml
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/sync_data.yaml
  .gitignore
  Cargo.lock
  applications/datamanager/src/data.rs
  applications/datamanager/src/equity_details.rs
  applications/datamanager/src/portfolios.rs
  applications/datamanager/src/storage.rs
  applications/equitypricemodel/src/equitypricemodel/equity_details_schema.py
  applications/equitypricemodel/src/equitypricemodel/server.py
  applications/equitypricemodel/src/equitypricemodel/tide_data.py
  applications/equitypricemodel/src/equitypricemodel/tide_model.py
  applications/equitypricemodel/tests/test_equity_details_schema.py
  applications/portfoliomanager/src/portfoliomanager/server.py
  infrastructure/__main__.py
  libraries/python/src/internal/equity_bars_schema.py
  libraries/python/tests/test_equity_bars_schema.py
  maskfile.md
  pyproject.toml
  tools/run_training_job.py
  tools/sync_equity_bars_data.py
Due: python, rust

Add CodeRabbit pull request feedback
  applications/datamanager/src/storage.rs
  applications/equitypricemodel/src/equitypricemodel/server.py
  tools/sync_equity_bars_data.py
Due: python, rust

Add Copilot and CodeRabbit pull request feedback
  applications/equitypricemodel/src/equitypricemodel/server.py
  infrastructure/__main__.py
Due: python

Add CodeRabbit pull request feedback
  applications/equitypricemodel/src/equitypricemodel/server.py
Due: python

Set specific Ruff version for Flox
  .flox/env/manifest.lock
  .flox/env/manifest.toml
Due: none

Add various cleanups/fixes
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  Cargo.lock
  applications/datamanager/src/equity_bars.rs
  applications/datamanager/src/state.rs
  infrastructure/__main__.py
  maskfile.md
  tools/download_model_artifacts.py
  tools/run_training_job.py
  tools/sync_equity_bars_data.py
Due: python, rust

Add Copilot pull request feedback
  tools/run_training_job.py
Due: python

Add temporary workflow debugging
  .github/workflows/launch_infrastructure.yaml
Due: none

Fix launch infrastructure YAML syntax error
  .github/workflows/launch_infrastructure.yaml
Due: none

Remove temporary launch infrastructure debugging
  .github/workflows/launch_infrastructure.yaml
Due: none

Parallelize launch infrastructure steps and cleanup comments
  .github/workflows/create_or_update_portfolio.yaml
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/sync_data.yaml
  .github/workflows/teardown_infrastructure.yaml
Due: none

Add conditional artifact download workflow step
  .github/workflows/launch_infrastructure.yaml
  applications/equitypricemodel/Dockerfile
Due: none

Add environment variables required by "download artifacts" script
  .github/workflows/launch_infrastructure.yaml
Due: none

Remove direct development IAM role reference in tool scripts/launch workflow
  .github/workflows/launch_infrastructure.yaml
  tools/download_model_artifacts.py
  tools/run_training_job.py
Due: python

Add GitHub Actions check to download artifacts helper script
  tools/download_model_artifacts.py
Due: python

Add pull request feedback/update workflow trigger dependencies
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/sync_data.yaml
  tools/download_model_artifacts.py
Due: python

Change dependent workflow triggering pattern
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/sync_data.yaml
Due: none

Update dispatch event action version
  .github/workflows/launch_infrastructure.yaml
Due: none

Add "schedule" check to data sync trigger on launch infrastructure workflow
  .github/workflows/launch_infrastructure.yaml
Due: none

Add error handling check to download model artifacts helper script
  tools/download_model_artifacts.py
Due: python

Add Git-ignored Pulumi configuration file
  .gitignore
  infrastructure/Pulumi.production.yaml
Due: none

Add service image build performance improvements
  .github/workflows/launch_infrastructure.yaml
  applications/datamanager/Dockerfile
  applications/equitypricemodel/Dockerfile
  applications/portfoliomanager/Dockerfile
Due: none

Add pull request feedback/add Pulumi stack reference to launch infrastructure workflow
  .github/workflows/launch_infrastructure.yaml
Due: none

Fix incorrect secrets AWS region reference in launch infrastructure workflow
  .github/workflows/launch_infrastructure.yaml
Due: none

Update Pulumi stack selection/refactor logic into Mask command
  .github/workflows/launch_infrastructure.yaml
  maskfile.md
Due: none

Add pull request feedback
  maskfile.md
Due: none

Remove unused Pulumi environment
  infrastructure/Pulumi.production.yaml
Due: none

Add manual "down" infrastructure workflow trigger and AWS credentials configuration
  .github/workflows/teardown_infrastructure.yaml
Due: none

Add AWS region to Pulumi configuration
  infrastructure/Pulumi.production.yaml
Due: none

Path conditions:
  python: any of: \.py$
  rust: any of: \.rs$
