Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: python, rust

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: python
        name: Check all Python code
        entry: mask development python all
        pass_filenames: false
        types:
          - file
          - python
        language: system
        fail_fast: true
      - id: rust
        name: Check all Rust code
        entry: mask development rust all
        pass_filenames: false
        types:
          - file
          - rust
        language: system
        fail_fast: true

Add token permissions to "down" infrastructure workflow
  .github/workflows/teardown_infrastructure.yaml
Due: none

Remove non-ECR tag on "build image" Mask command
  maskfile.md
Due: none

Update data sync command error logging/add manual launch trigger
  .github/workflows/launch_infrastructure.yaml
  maskfile.md
  tools/sync_equity_bars_data.py
Due: python

Update data manager port binding
  Cargo.lock
  applications/datamanager/src/main.rs
Due: rust

Refactor image "build"/"push" Mask commands
  .github/workflows/launch_infrastructure.yaml
  maskfile.md
Due: none

Add CodeRabbit/Copilot pull request feedback
  maskfile.md
Due: none

Add infrastructure resources for VPC endpoints
  infrastructure/__main__.py
Due: python

Update workflows/create portfolio Mask command
  .github/workflows/create_or_update_portfolio.yaml
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/sync_data.yaml
  maskfile.md
Due: none

Fix data sync trigger event name/add "run-name" field to all workflows
  .github/workflows/close_stale_issues_and_pull_requests.yaml
  .github/workflows/create_or_update_portfolio.yaml
  .github/workflows/launch_infrastructure.yaml
  .github/workflows/run_python_code_checks.yaml
  .github/workflows/run_rust_code_checks.yaml
  .github/workflows/sync_data.yaml
  .github/workflows/teardown_infrastructure.yaml
Due: none

Update data manager base image for dependency version
  applications/datamanager/Dockerfile
  maskfile.md
Due: none

Change base image to "stable" version
  applications/datamanager/Dockerfile
Due: none

Update logic to handle Cargo caching in GitHub Actions
  maskfile.md
Due: none

Fix Python service Dockerfile entrypoints
  applications/equitypricemodel/Dockerfile
  applications/portfoliomanager/Dockerfile
Due: none

Revert "Fix Python service Dockerfile entrypoints"
  applications/equitypricemodel/Dockerfile
  applications/portfoliomanager/Dockerfile
Due: none

Change flag to "package" for Python Dockerfile ENTRYPOINT statements
  applications/equitypricemodel/Dockerfile
  applications/portfoliomanager/Dockerfile
Due: none

Update "--app-dir" path value
  applications/equitypricemodel/Dockerfile
  applications/portfoliomanager/Dockerfile
Due: none

Add COPY statements to data manager Dockerfile
  .gitignore
  applications/datamanager/Dockerfile
Due: none

Update Docker build output flag
  maskfile.md
Due: none

Revert Docker build output flag configuration
  maskfile.md
Due: none

Update builder/server DuckDB dependencies
  applications/datamanager/Dockerfile
Due: none

Add Copilot/CodeRabbit pull request feedback
  applications/datamanager/Dockerfile
Due: none

Update DuckDB version in Docker/Cargo
  Cargo.lock
  applications/datamanager/Cargo.toml
  applications/datamanager/Dockerfile
Due: none

Remove unused COPY statement
  applications/datamanager/Dockerfile
Due: none

Remove unofficial DuckDB checksum logic
  applications/datamanager/Dockerfile
Due: none

Fix DuckDB download location for subsequent COPY statement expectations
  applications/datamanager/Dockerfile
Due: none

Add DuckDB linker environment variables
  applications/datamanager/Dockerfile
Due: none

fix issues with datamanager and added to infrastructure
  .claude/settings.local.json
  .flox/env/manifest.lock
  applications/datamanager/Dockerfile
  applications/datamanager/src/data.rs
  applications/datamanager/src/equity_bars.rs
  applications/datamanager/src/health.rs
  applications/datamanager/src/main.rs
  applications/datamanager/src/state.rs
  applications/datamanager/src/storage.rs
  infrastructure/Pulumi.production.yaml
  infrastructure/__main__.py
  maskfile.md
  tools/sync_equity_bars_data.py
Due: python, rust

prep data for training
  maskfile.md
  tools/prepare_training_data.py
  tools/sync_equity_categories.py
Due: python

integration fixes
  .claude/settings.local.json
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  Cargo.lock
  applications/datamanager/Cargo.toml
  applications/datamanager/Dockerfile
  applications/datamanager/src/data.rs
  applications/datamanager/src/main.rs
  applications/datamanager/src/predictions.rs
  applications/datamanager/src/router.rs
  applications/equitypricemodel/Dockerfile
  applications/equitypricemodel/pyproject.toml
  applications/equitypricemodel/src/equitypricemodel/predictions_schema.py
  applications/equitypricemodel/src/equitypricemodel/preprocess.py
  applications/equitypricemodel/src/equitypricemodel/server.py
  applications/equitypricemodel/src/equitypricemodel/tide_data.py
  applications/equitypricemodel/src/equitypricemodel/tide_model.py
  applications/equitypricemodel/src/equitypricemodel/trainer.py
  applications/portfoliomanager/pyproject.toml
  applications/portfoliomanager/src/portfoliomanager/server.py
  infrastructure/__main__.py
  maskfile.md
  tools/run_training_job.py
  tools/run_training_local.py
  uv.lock
Due: python, rust

Update tools/sync_equity_bars_data.py
  tools/sync_equity_bars_data.py
Due: python

Update applications/datamanager/Dockerfile
  applications/datamanager/Dockerfile
Due: none

work on suggestions
  .claude/settings.local.json
  applications/datamanager/src/equity_bars.rs
  applications/datamanager/src/state.rs
  applications/datamanager/src/storage.rs
  applications/equitypricemodel/src/equitypricemodel/preprocess.py
Due: python, rust

fixes
  infrastructure/Pulumi.production.yaml
Due: none

fixes
  infrastructure/__main__.py
Due: python

PR fixes
  applications/datamanager/src/storage.rs
  tools/prepare_training_data.py
  tools/sync_equity_categories.py
Due: python, rust

Fix portfoliomanager prediction fetching and prior portfolio handling
  applications/portfoliomanager/src/portfoliomanager/server.py
Due: python

Fix prediction batching to process all tickers and add SSM config
  applications/datamanager/src/main.rs
  applications/datamanager/src/portfolios.rs
  applications/datamanager/src/state.rs
  applications/equitypricemodel/src/equitypricemodel/server.py
  applications/equitypricemodel/src/equitypricemodel/tide_data.py
  applications/portfoliomanager/src/portfoliomanager/exceptions.py
  applications/portfoliomanager/src/portfoliomanager/risk_management.py
  applications/portfoliomanager/src/portfoliomanager/server.py
  infrastructure/__main__.py
  infrastructure/parameters.py
  maskfile.md
Due: python, rust

Check a coarser cadence against the finer rows beneath it
  src/bin/seed.rs
  src/data.rs
  src/data/archive.rs
  src/data/cadence.rs
Due: rust

Address pull request #1131 feedback: a presence marker written first
  src/bin/seed.rs
  src/data/archive.rs
  src/data/cadence.rs
Due: rust
